<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>3000</key>
        <dict>
            <key>key</key>
            <string>name</string>
            <key>value</key>
            <string>[NAME]</string>
        </dict>
        <key>3001</key>
        <dict>
            <key>key</key>
            <string>title</string>
            <key>value</key>
            <string>[TITLE]</string>
        </dict>
        <key>3002</key>
        <dict>
            <key>key</key>
            <string>companyName</string>
            <key>value</key>
            <string>[COMPANY_NAME]</string>
        </dict>
        <key>3003</key>
        <dict>
            <key>key</key>
            <string>name</string>
            <key>value</key>
            <string>[EMAIL]</string>
        </dict>
        <key>3004</key>
        <dict>
            <key>key</key>
            <string>name</string>
            <key>value</key>
            <string>[NICKNAME]</string>
        </dict>
        <key>3005</key>
        <dict>
            <key>key</key>
            <string>name</string>
            <key>value</key>
            <string>[PHONE]</string>
        </dict>
        <key>3006</key>
        <dict>
            <key>key</key>
            <string>name</string>
            <key>value</key>
            <string>[MOBILE]</string>
        </dict>
        <key>3007</key>
        <dict>
            <key>key</key>
            <string>name</string>
            <key>value</key>
            <string>[STREET]</string>
        </dict>
        <key>3008</key>
        <dict>
            <key>key</key>
            <string>name</string>
            <key>value</key>
            <string>[CITY]</string>
        </dict>
        <key>3009</key>
        <dict>
            <key>key</key>
            <string>name</string>
            <key>value</key>
            <string>[ZIP]</string>
        </dict>
        <key>3010</key>
        <dict>
            <key>key</key>
            <string>name</string>
            <key>value</key>
            <string>[COUNTRY]</string>
        </dict>
        <key>3011</key>
        <dict>
            <key>key</key>
            <string>name</string>
            <key>value</key>
            <string>[STATE]</string>
        </dict>
        <key>3012</key>
        <dict>
            <key>key</key>
            <string>name</string>
            <key>value</key>
            <string>[CUSTOM1]</string>
        </dict>
        <key>3013</key>
        <dict>
            <key>key</key>
            <string>name</string>
            <key>value</key>
            <string>[CUSTOM2]</string>
        </dict>
        <key>3014</key>
        <dict>
            <key>key</key>
            <string>name</string>
            <key>value</key>
            <string>[CUSTOM3]</string>
        </dict>
    </dict>
</plist>
