<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>


<string>Mr.</string>
<string>Ms.</string>
<string>Mrs.</string>
<string>Miss</string>
<string>Dr.</string>
<string>Judge</string>
<string>Pastor</string>
<string>Professor</string>
<string>Rabbi</string>
<string>Rev.</string>
<string>Sr.</string>
<string>Sra.</string>
<string>Srta.</string>
</array>
</plist>
